<div class="ct_middle_cnt">
    <section class="mb-5">
        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mb-4">
            <h2 class="ct_h2">All Event</h2>
            <button class="ct_custom_btn py-2 px-4 w-auto" data-bs-toggle="modal" data-bs-target="#ct_add_event">
                <i class="fa-solid fa-plus"></i> Add Event
            </button>
        </div>
        <div class="table-responsive">
            <table class="table ct_custom_table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th class="text-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of data; let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            <div class="ct_event_img">
                                <img [src]="row.image_url" alt="img">
                            </div>
                        </td>
                        <td>{{row.title}}</td>
                        <td>{{row.date}}</td>
                        <td>{{row.time}}</td>
                        <td>
                            <div class="d-flex align-items-center gap-2 justify-content-end">
                                <button class="ct_action_btn ct_edit_btn" (click)="patchUpdate(row)"
                                    data-bs-toggle="modal" data-bs-target="#ct_edit_event">
                                    <i class="fa-solid fa-pen"></i>
                                </button>
                                <button class="ct_action_btn ct_dlt_btn" (click)="deleteField(row.id)">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <div *ngIf="(data?.length == 0)" class="no-item-found">
                    No item found
                </div>
            </table>
        </div>

    </section>

</div>




<!-- Add Event -->
<div class="modal fade" id="ct_add_event" tabindex="-1" aria-labelledby="ct_add_eventLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0 pb-5">
                <div class="ct_event_modal">
                    <h2 class="text-center mb-5 ct_h2">Add Event</h2>
                    <form [formGroup]="newForm">
                        <div class="ct_formField mb-3">
                            <label for="ct_event_img" class="w-100">
                                <input type="file" id="ct_event_img" required formControlName="image"
                                    (change)="handleCommittedFileInput($event)" />
                            </label>
                            <div *ngIf="newForm.controls['image'].invalid && newForm.controls['image'].touched"
                                class="error-message">
                                <div *ngIf="newForm.controls['image'].errors?.['required']">Image is
                                    required.
                                </div>
                            </div>
                        </div>
                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Title</label>
                            <input type="text" required formControlName="title" />
                            <div *ngIf="newForm.controls['title'].invalid && newForm.controls['title'].touched"
                                class="error-message">
                                <div *ngIf="newForm.controls['title'].errors?.['required']">Title is
                                    required.
                                </div>
                            </div>
                        </div>
                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Date</label>
                            <input type="date" required formControlName="date" />
                            <div *ngIf="newForm.controls['date'].invalid && newForm.controls['date'].touched"
                                class="error-message">
                                <div *ngIf="newForm.controls['date'].errors?.['required']">Date is
                                    required.
                                </div>
                            </div>
                        </div>
                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Time</label>
                            <input type="time" required step="3600" formControlName="time" />
                            <div *ngIf="newForm.controls['time'].invalid && newForm.controls['time'].touched"
                                class="error-message">
                                <div *ngIf="newForm.controls['time'].errors?.['required']">Time is
                                    required.
                                </div>
                            </div>
                        </div>
                        <button type="button" (click)="addEvent()"
                            class="ct_custom_btn mt-5 px-4 w-auto mx-auto d-block">Save
                            Changes</button>
                        <button hidden type="button" class="btn btn-secondary" #closeModal
                            data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Edit Event -->
<div class="modal fade" id="ct_edit_event" tabindex="-1" aria-labelledby="ct_edit_eventLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0 pb-5">
                <div class="ct_event_modal">
                    <h2 class="text-center mb-5 ct_h2">Edit Event</h2>
                    <form [formGroup]="updateForm">
                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Event Image</label>
                            <!-- <label for="ct_event_img" class="w-100">
                                <div class="ct_edt_img">
                                    <img [src]="updateDet?.image_url" alt="">
                                </div>
                                <input type="file" id="ct_event_img" formControlName="image" class="d-none"
                                    (change)="handleCommittedFileInput($event)" />
                            </label> -->
                            <label for="imgInp" class="w-100">
                                <input accept="image/*" type="file" formControlName="image" id="imgInp" class="d-none"
                                    (change)="handleFileInput($event)" />
                                <div class="ct_edt_img">
                                    <img id="blah" src="#" alt="Uploaded Image" [src]="updateDet?.image_url">
                                </div>

                            </label>
                        </div>
                        <div class="ct_formField mb-3 ">
                            <label for="" class="mb-2 ct_fw_600">Title</label>
                            <input type="text" required formControlName="title" value="DJ Night with bablo" />
                            <div *ngIf="updateForm.controls['title'].invalid && updateForm.controls['title'].touched"
                                class="error-message">
                                <div *ngIf="updateForm.controls['title'].errors?.['required']">Title is
                                    required.
                                </div>
                            </div>
                        </div>
                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Date</label>
                            <input type="text" required formControlName="date" value="27/04/2024" />
                            <div *ngIf="updateForm.controls['date'].invalid && updateForm.controls['date'].touched"
                                class="error-message">
                                <div *ngIf="updateForm.controls['date'].errors?.['required']">Date is
                                    required.
                                </div>
                            </div>
                        </div>
                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Time</label>
                            <input type="time" required formControlName="time" value="22" />
                            <div *ngIf="updateForm.controls['time'].invalid && updateForm.controls['time'].touched"
                                class="error-message">
                                <div *ngIf="updateForm.controls['time'].errors?.['required']">Time is
                                    required.
                                </div>
                            </div>
                        </div>
                        <button type="button" (click)="onUpdate()"
                            class="ct_custom_btn mt-5 px-4 w-auto mx-auto d-block">Save
                            changes</button>
                        <button hidden type="button" class="btn btn-secondary" #closeModal2
                            data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>