<div class="ct_middle_cnt">
    <section class="mb-5">
        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mb-4">
            <h2 class="ct_h2">All Offers</h2>
            <button class="ct_custom_btn py-2 px-4 w-auto" data-bs-toggle="modal" data-bs-target="#ct_add_offer">
                <i class="fa-solid fa-plus"></i> Add Offer
            </button>
        </div>
        <div class="table-responsive">
            <table class="table ct_custom_table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Offer Price</th>
                        <th>Till Date </th>
                        <!-- <th>Points </th> -->
                        <th class="text-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of data; let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            <div class="ct_event_img">
                                <img [src]="row.image_url" alt="img">
                            </div>
                        </td>
                        <td>{{row.title}}</td>
                        <td>{{row.price}}</td>
                        <td>{{row.offerPrice}}</td>
                        <td>{{row.endDate | date:'dd-MM-yyyy'}}</td>
                        <!-- <td>{{ getLevel(row.points) }}</td> -->
                        <td>
                            <div class="d-flex align-items-center gap-2 justify-content-end">
                                <button class="ct_action_btn ct_edit_btn" data-bs-toggle="modal"
                                    data-bs-target="#ct_edit_offer" (click)="patchUpdate(row)">
                                    <i class="fa-solid fa-pen"></i>
                                </button>
                                <button class="ct_action_btn ct_dlt_btn" (click)="deleteField(row.id)">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <div *ngIf="(data?.length == 0)" class="no-item-found">
                    No results found
                </div>
            </table>
        </div>

    </section>

</div>

<!-- Add Offer -->
<div class="modal fade" id="ct_add_offer" tabindex="-1" aria-labelledby="ct_add_offerLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0 pb-5">
                <div class="ct_event_modal">
                    <h2 class="text-center mb-5 ct_h2">Add Offer</h2>
                    <form [formGroup]="newForm">
                        <div class="ct_formField mb-3">
                            <label for="ct_event_img" class="w-100">
                                <input type="file" id="ct_event_img" required formControlName="image"
                                    (change)="handleCommittedFileInput($event)" />
                            </label>

                            <div *ngIf="newForm.controls['image'].invalid && newForm.controls['image'].touched"
                                class="error-message">
                                <div *ngIf="newForm.controls['image'].errors?.['required']">Image is
                                    required.
                                </div>
                            </div>

                        </div>
                        <div class="ct_formField mb-3 ">
                            <label for="" class="mb-2 ct_fw_600">Title</label>
                            <input type="text" required formControlName="title" />

                            <div *ngIf="newForm.controls['title'].invalid && newForm.controls['title'].touched"
                                class="error-message">
                                <div *ngIf="newForm.controls['title'].errors?.['required']">Title is
                                    required.
                                </div>
                            </div>

                        </div>
                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Price</label>
                            <div class="position-relative">
                                <input type="number" required formControlName="price" class="ct_text_indent_16" />
                                <span class="ct_price_tag_position">€</span>

                                <div *ngIf="newForm.controls['price'].invalid && newForm.controls['price'].touched"
                                    class="error-message">
                                    <div *ngIf="newForm.controls['price'].errors?.['required']">Price is
                                        required.
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Offer Price</label>
                            <div class="position-relative">
                                <input type="number" required formControlName="offerPrice" class="ct_text_indent_16" />
                                <span class="ct_price_tag_position">€</span>

                                <div *ngIf="newForm.controls['offerPrice'].invalid && newForm.controls['offerPrice'].touched"
                                    class="error-message">
                                    <div *ngIf="newForm.controls['offerPrice'].errors?.['required']">Offer price is
                                        required.
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Points</label>
                            <div class="position-relative">
                                <input type="number" required formControlName="points" class="ct_text_indent_16" />

                                <div *ngIf="newForm.controls['points'].invalid && newForm.controls['points'].touched"
                                    class="error-message">
                                    <div *ngIf="newForm.controls['points'].errors?.['required']">Points is
                                        required.
                                    </div>
                                </div>

                            </div>
                        </div> -->

                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Till Date</label>
                            <input type="date" required formControlName="endDate" />

                            <div *ngIf="newForm.controls['endDate'].invalid && newForm.controls['endDate'].touched"
                                class="error-message">
                                <div *ngIf="newForm.controls['endDate'].errors?.['required']">Date is
                                    required.
                                </div>
                            </div>
                        </div>

                        <button type="button" (click)="onSubmit()"
                            class="ct_custom_btn mt-5 px-4 w-auto mx-auto d-block">Add Offer</button>
                        <button hidden type="button" class="btn btn-secondary" #closeModal
                            data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Edit Offer -->
<div class="modal fade" id="ct_edit_offer" tabindex="-1" aria-labelledby="ct_edit_offerLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0 pb-5">
                <div class="ct_event_modal">
                    <h2 class="text-center mb-5 ct_h2">Edit Offer</h2>
                    <form [formGroup]="updateForm">
                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Offer Image</label>
                            <label for="imgInp" class="w-100">
                                <input accept="image/*" type="file" formControlName="image" id="imgInp" class="d-none"
                                    (change)="handleFileInput($event)" />
                                <div class="ct_edt_img">
                                    <img id="blah" src="#" alt="Uploaded Image" [src]="updateDet?.image_url">
                                </div>

                            </label>

                        </div>
                        <div class="ct_formField mb-3 ">
                            <label for="" class="mb-2 ct_fw_600">Title</label>
                            <input type="text" required formControlName="title" />
                            <div *ngIf="updateForm.controls['title'].invalid && updateForm.controls['title'].touched"
                                class="error-message">
                                <div *ngIf="updateForm.controls['title'].errors?.['required']">Title is
                                    required.
                                </div>
                            </div>
                        </div>
                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Price</label>
                            <div class="position-relative">
                                <input type="text" required formControlName="price" class="ct_text_indent_16" />
                                <!-- <span class="ct_price_tag_position">€</span> -->

                                <div *ngIf="updateForm.controls['price'].invalid && updateForm.controls['price'].touched"
                                    class="error-message">
                                    <div *ngIf="updateForm.controls['price'].errors?.['required']">Price is
                                        required.
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Offer Price</label>
                            <div class="position-relative">
                                <input type="text" required formControlName="offerPrice" class="ct_text_indent_16" />
                                <!-- <span class="ct_price_tag_position">€</span> -->

                                <div *ngIf="updateForm.controls['offerPrice'].invalid && updateForm.controls['offerPrice'].touched"
                                    class="error-message">
                                    <div *ngIf="updateForm.controls['offerPrice'].errors?.['required']">Price is
                                        required.
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Till Date</label>
                            <input type="date" required formControlName="endDate" />

                            <div *ngIf="updateForm.controls['endDate'].invalid && updateForm.controls['endDate'].touched"
                                class="error-message">
                                <div *ngIf="updateForm.controls['endDate'].errors?.['required']">Date is
                                    required.
                                </div>
                            </div>

                        </div>
                        <button type="button" (click)="onUpdate()"
                            class="ct_custom_btn mt-5 px-4 w-auto mx-auto d-block">Save
                            changes</button>
                        <button hidden type="button" class="btn btn-secondary" #closeModal2
                            data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>