<div class="ct_middle_cnt">
    <section class="mb-5">
        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mb-4">
            <h2 class="ct_h2">Scratch Card</h2>
            <button class="ct_custom_btn py-2 px-4 w-auto" data-bs-toggle="modal" data-bs-target="#ct_add_gift">
                <i class="fa-solid fa-plus"></i> Add Card
            </button>
        </div>
        <div class="table-responsive">
            <table class="table ct_custom_table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Title</th>
                        <th>Success Rate</th>
                        <th>Total Scratches</th>
                        <th>Total Wins</th>
                        <th class="text-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of data; let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            {{row.title}}
                        </td>
                        <td>
                            {{row.successRate*100}}%
                        </td>
                        <td>
                            {{row.totalScratches}}
                        </td>
                        <td>
                            {{row.totalWins}}
                        </td>

                        <td>
                            <div class="d-flex align-items-center gap-2 justify-content-end">
                                <button class="ct_action_btn ct_edit_btn" data-bs-toggle="modal"
                                    data-bs-target="#ct_edit_gift" (click)="patchUpdate(row)">
                                    <i class="fa-solid fa-pen"></i>
                                </button>
                                <button class="ct_action_btn ct_dlt_btn" (click)="deleteField(row.id)">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <div *ngIf="(data?.length == 0)" class="no-item-found">
                    No results found
                </div>
            </table>
        </div>
    </section>
</div>

<!-- Add Event -->
<div class="modal fade" id="ct_add_gift" tabindex="-1" aria-labelledby="ct_add_giftLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0 pb-5">
                <div class="ct_event_modal">
                    <h2 class="text-center mb-5 ct_h2">Add Gift</h2>
                    <form [formGroup]="newForm">

                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Title</label>
                            <input type="text" required formControlName="title" />
                            <div *ngIf="newForm.controls['title'].invalid && newForm.controls['title'].touched"
                                class="error-message">
                                <div *ngIf="newForm.controls['title'].errors?.['required']">Title is
                                    required.
                                </div>
                            </div>
                        </div>
                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Success Rate</label>
                            <input type="number" required formControlName="successRate" />
                            <!-- <div *ngIf="newForm.controls['successRate'].invalid && newForm.controls['successRate'].touched"
                                class="error-message">
                                <div *ngIf="newForm.controls['successRate'].errors?.['required']">Success rate is
                                    required.
                                </div>
                            </div> -->
                            <div *ngIf="newForm.controls['successRate'].invalid && newForm.controls['successRate'].touched" class="error-message">
                                <div *ngIf="newForm.controls['successRate'].errors?.['required']">Success rate is required.</div>
                                <div *ngIf="newForm.controls['successRate'].errors?.['pattern']">Only whole numbers are allowed.</div>
                                <div *ngIf="newForm.controls['successRate'].errors?.['range']">Success rate must be between 1 and 100.</div>
                              </div>
                        </div>


                        <button type="button" (click)="onSubmit()"
                            class="ct_custom_btn mt-5 px-4 w-auto mx-auto d-block">Add Card</button>
                        <button hidden type="button" class="btn btn-secondary" #closeModal
                            data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Edit Event -->
<div class="modal fade" id="ct_edit_gift" tabindex="-1" aria-labelledby="ct_edit_giftLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0 pb-5">
                <div class="ct_event_modal">
                    <h2 class="text-center mb-5 ct_h2">Edit Gift</h2>
                    <form [formGroup]="updateForm">
                        <div class="ct_formField mb-3 ">
                            <label for="" class="mb-2 ct_fw_600">Title</label>
                            <input type="text" required="" formControlName="title" />
                        </div>
                        <div class="ct_formField mb-3 ">
                            <label for="" class="mb-2 ct_fw_600">Success Rate</label>
                            <input type="number" required="" formControlName="successRate" />
                        </div>

                        <button (click)="onUpdate()" type="button"
                            class="ct_custom_btn mt-5 px-4 w-auto mx-auto d-block">Save
                            changes</button>
                        <button hidden type="button" class="btn btn-secondary" #closeModal1
                            data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>